<!--
		<ul class="nav">
            <li class="nav-header">Navigation</li>
            <li><a href="/calendar"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
			<li><a href="/project_creation"><i class="fa fa-calendar"></i> <span>Project List</span></a></li>
            <li><a href="/task_list"><i class="fa fa-exchange"></i> <span>Task List</span></a></li>
            <li><a href="/task_allocation"><i class="fa fa-tasks"></i> <span>Task Allocation</span></a></li>
            <li><a href="/task_definition"><i class="fa fa-building-o"></i> <span>Task Definition</span></a></li>
            <li><a href="/usermanagement"><i class="fa fa-group"></i> <span>User Management</span></a></li>
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
        </ul> -->
